---
import MapPoints from '../../components/icons/MapPoints.astro'
import UserGroup from '../../components/icons/UserGroup.astro'
import MainTitle from '../../components/MainTitle.astro'
import LayoutAdmin from '../../layouts/LayoutAdmin.astro'
import Circle from '../../components/Circle.astro'
import Main from '../../components/Main.astro'
import { getAuth } from 'firebase-admin/auth'
import { app } from '../../lib/firebase/server'
import { ListRoutes } from '../../components/ListRoutes'
import { fade } from 'astro:transitions'
export const prerender = false
const auth = getAuth(app)
/* Check current session */
if (!Astro.cookies.has('__session')) {
  return Astro.redirect('/signin')
}

const sessionCookie = Astro.cookies.get('__session')?.value

if (!sessionCookie) {
  return Astro.redirect('/signin')
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie)
const user = await auth.getUser(decodedCookie.uid)
if (user.email?.match(/@routico.ec/)) {
  return Astro.redirect('/drivers')
}
---

<LayoutAdmin>
  <Main
    class='relative max-h-[calc(100dvh-52px)] bg-azur-200/20 p-4 md:p-6 grid grid-rows-[100px_auto_200px] lg:grid-rows-[100px_auto] lg:grid-cols-[1fr_320px] gap-4 md:gap-6 pb-16 sm:pb-6'
  >
    <section
      class='bg-azur-50 rounded-xl lg:col-start-1 lg:col-end-3 p-4 flex flex-wrap gap-4 lg:justify-around'
    >
      <Circle title='Conductores' amount='10'>
        <UserGroup class='w-8 h-8 text-azur-600' />
      </Circle>
      <Circle title='Rutas' amount='5'>
        <MapPoints class='w-8 h-8 text-azur-600' />
      </Circle>
    </section>
    <section class='rounded-xl w-full h-auto lg:row-start-2 bg-azur-50'>
    </section>
    <section class='overflow-hidden'>
      <ul
        class='overflow-y-auto max-h-full h-auto grid grid-cols-[repeat(auto-fit,minmax(250px,300px))] gap-2 justify-center'
      >
        <ListRoutes simple={false} uid={decodedCookie.uid} />
        <ListRoutes simple={false} uid={decodedCookie.uid} />
        <ListRoutes simple={false} uid={decodedCookie.uid} />
        <ListRoutes simple={false} uid={decodedCookie.uid} />
        <ListRoutes simple={false} uid={decodedCookie.uid} />
        <ListRoutes simple={false} uid={decodedCookie.uid} />
        <ListRoutes simple={false} uid={decodedCookie.uid} />
        <ListRoutes simple={false} uid={decodedCookie.uid} />
        <ListRoutes simple={false} uid={decodedCookie.uid} />
        <ListRoutes simple={false} uid={decodedCookie.uid} />
        <ListRoutes simple={false} uid={decodedCookie.uid} />
        <ListRoutes simple={false} uid={decodedCookie.uid} />
      </ul>
    </section>
  </Main>
</LayoutAdmin>
